@charset "utf-8";
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background: url(../image/bg-body.jpg);
}
a {
	outline:none;
}
/*------------------------- Header ---------------------------*/
#header {
	background:url(../image/bg-header.png) repeat-x;
	height:184px;
	margin:0;
}
#header div {
	margin:0 auto;
	padding:28px 0 0;
	position:relative;
	width:960px;
}
#header div ul {
	height:100px;
	left:100px;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
	position:absolute;
	top:80px;
}
#header div ul li:first-child {
	margin:0;
}
#header div ul li {
	float:left;
	height:66px;
	margin:0 0 0 65px;
	text-align:left;
	position:relative;
}
#header div ul li a {
	color:#000;
	font-family:oswaldregular;
	font-size:18px;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
#header div ul li.selected a, #header div ul li a:hover {
	color:#af0000;
}
#header div ul li ul {
	height:auto;
	left:-99999px;
	overflow:hidden;
	position:absolute;
	top:37px;
	width:115px;
}
#header div ul li:hover ul {
	left:0;
	top:27px;
}
#header div ul li ul li {
	background:none #343434;
	border:1px solid #4f4f4f;
	float:none;
	height:29px;
	margin:-1px 0 0;
	padding:0 12px;
	position:relative;
	width:auto;
	z-index:1000;
}
#header div ul li ul li:hover {
	background:none #af0000;
}
#header div ul li ul li:hover {
	left:0;
	top:0;
}
#header div ul li ul li a {
	color:#a5a5a5!important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:28px;
	text-transform:none;
}
#header div ul li ul li.selected a, #header div ul li ul li a:hover {
	color:#fff!important;
}
/*------------------------- Body ---------------------------*/
#body {
	margin-top:10px!important;
}
.one{
	background: url("../image/Travel.png") no-repeat;
	height:300px;
	text-align:center;
	width:715px;
	line-height:7;
	font-size:48px;
	float:left;
}
.one a{
	color:#F70206;
}
.one a:hover{
	color:#1124FF!important;
}
.two{
	background: url("../image/Movie.png") no-repeat;
	height:300px;
	text-align:center;
	width:600px;
	line-height:7;
	font-size:48px;
	float: left;
}
.two a{
	color:#F70206;
}
.two a:hover{
	color:#1124FF!important;
}
.three{
	background: url("../image/Show.jpg") no-repeat;
	height:300px;
	text-align:center;
	width:550px;
	line-height:7;
	font-size:48px;
	float:right;
}
.three a{
	color:#F70206;
}
.three a:hover{
	color:#1124FF!important;
}
.four{
	background: url("../image/ThemePark.jpg") no-repeat;
	height:360px;
	text-align:center;
	width:715px;
	line-height:7;
	font-size:48px;
	float:left;
}
.four a{
	color:#F70206;
}
.four a:hover{
	color:#1124FF!important;
}
.five{
	background: url("../image/Tour.jpg") no-repeat;
	height:360px;
	text-align:center;
	width:600px;
	line-height:7;
	font-size:48px;
	float:left;
}
.five a{
	color:#F70206;
}
.five a:hover{
	color:#1124FF!important;
}
.six{
	background: url("../image/Food.jpg") no-repeat;
	height:400px;
	text-align:center;
	width:550px;
	line-height:7;
	font-size:48px;
	float:right;
}
.six a{
	color:#F70206;
}
.six a:hover{
	color:#1124FF!important;
}
