<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Ticket On Cloud</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="header">
		<div>
			<ul>
				<li class="selected">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="travel.html">Travel</a>
					<ul>
						<li>
							<a href="#">Hotel</a>
						</li>
						<li>
							<a href="#">Meal</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="food.html">Food</a>
					<ul>
						<li>
							<a href="#">Transportation</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="movie.html">Movie</a>
				</li>
				<li>
					<a href="themepark.html">ThemePark</a>
				</li>
				<li>
					<a href="tour.html">Tour</a>
				</li>
				<li>
					<a href="show.html">Show</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
